<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="favicon.png" type="image/x-icon">
</head>

<body>
    <div class="banner">
        <div class="nav">
            <img src="favicon.png" alt="Standard Chartered Logo" class="logo">
            <h1>STANDARD CHARTERED GBS DIVERSITY HACKATHON</h1>
        </div>
        <div class="sign"></div>
    </div>
    <section class="hero-section">
        <p class="center-text">PLEASE SIGN IN TO PROCEED FURTHER</p>
        <div class="cta-buttons">
            <button onclick="window.location.href='signin.ejs'"><span></span>Sign In</button>
            <button onclick="window.location.href='signup.ejs'"><span></span>Sign Up</button>
        </div>
    </section>
</body>

</html>